 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  border-style: none;
  margin: 98px auto 0 435px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  border-style: none;
  margin: -45px auto 0 287px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  transition-duration: 0.25s;
  margin: -43px 869px 0 16px;
}

.u-section-1 .u-image-1 {
  width: 554px;
  height: 277px;
  transition-duration: 0.5s;
  margin: 111px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 541px;
  height: 281px;
  transition-duration: 0.5s;
  margin: -277px auto 0 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 235px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 87px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 685px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 465px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 167px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 285px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 270px;
    margin-top: 104px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 280px;
    margin-top: -270px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 85px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 170px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 176px;
    margin-top: -170px;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

